*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Arial", "Helvetica", "san serif";
  width: 950px;
  margin-left: 10px;
  margin-right: 10px;
}
.globe{
  height: 60px;
  position: relative;
}
.globe img{
  height: 75px;
  display: inline-block;
  position: absolute;
  z-index: 1;
}
h1, h2{
  font-weight: lighter;
}
h1{
  display: inline-block;
  font-size: 40px;
  position: absolute;
  left: 75px;
  top: 12px;
}
mark{
  color: #26669C;
  background-color: white;
}
header section:last-child{
  position: relative;
  height: 60px;
  background: linear-gradient(#29689D,#5383AA,#29689D)
}
header h2{
  /*height: 60px;*/
  vertical-align: middle;
  position: absolute;
  top: 16px;
  left:20px;
  color: white;
}
aside{
  width: 250px;
  display: inline-block;
  margin:20px;
}
aside *{
  margin: 10px 0px;
}
aside span{
  color: red;
}
aside p{
  font-weight: bold;
}
aside button{
  display: block;
  margin: auto;
  height: 30px;
  padding: 0px 5px;
  border-radius: 10px;
  color: white;
}
aside img{
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.ad h2{
  text-align: center;
  color: white;
  margin: 15px;
  padding-top: 25px;
}
.vid-btn{
  background: linear-gradient(#6599C2,#27679C);
  width: 100%;
}
.more-btn{
  background: linear-gradient(#E9AD5E,#EE7201);
  width: 100%;
}
.ad{
  background-image: url("images/ad_background.png");
  height: 350px;
}
.ad button{
  background: linear-gradient(#80D0DE,#01C1DD);
  width: 175px;
}
.center{
  width: 650px;
  display: inline-block;
  vertical-align: top;
}
h3{
  color: #26669C;
}
.home, .phone{
  display: inline-block;
}
.center section:first-child{
  position: relative;
  height: 60px;
}
.phone{
  right: 0px;
  position: absolute;
}
.info{
  text-align: right;
  vertical-align: top;
}
.home img{
  height: 15px;
  display: inline-block;
}
.home h6{
  display: inline-block;
  color: #789DBC;
  font-size: 15px;
  font-weight: normal;
}
.phone img{
  height: 55px;
  display: inline-block;
}
.tiny{
  font-size: 10px;
}
.phonenum{
  color: #00C0DD;
  font-weight: bold;
  font-size: 25px;
}
.info{
  display: inline-block;
}
.center section{
  margin: 10px;
}
.center ul, .center ol{
  margin-left: 20px;
}
.center section:nth-child(2) img{
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center section:last-child{
  border-width: 3px 3px 0px 3px;
  border-color: #0087DD;
  border-style: solid;
}
.center section:last-child img{
  height: 100px;
  display: inline-block;
}
.center section:last-child div{
  width: 480px;
  display: inline-block;
  margin-left: 10px;
}
.center section:nth-child(2n) p, .center section li{
  font-size: 12px;
  margin: 5px 0px;
}
